*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
*.xsa
/components/plnx_workspace
/components/yocto
.Xil/

# This will get pulled in from the vivado export.
project-spec/hw-description/design_1_wrapper.bit
project-spec/hw-description/*.c
project-spec/hw-description/*.h
